@page "/Dynmap"
@inject IJSRuntime _js
@inject IUserService _userService
<PageTitle>Dynmap</PageTitle>
<h3>Dynmap</h3>



<div class=" fill-map">
    <div id="map">
        <iframe name="iframedynmap1" id="iframedynmap1" src="https://highgeek.eu/map/#survivalpriv_world:-60:0:21:1500:0:0:0:0:perspective" onload="@DynmapAppendCss" title="Dynmap">
        </iframe>
    </div>
</div>



@code {

    public void DynmapAppendCss()
    {
        //todo determine admin rights
        if (_userService.HasConnectedAccount)
        {
            if (_userService.LpUser.ParentGroups.Contains("og"))
            {
                return;
            }
        }
        _js.InvokeVoidAsync("dynmapAppendCssRemoveControls");
    }
}
