@page "/Dynmap"
@inject IJSRuntime _js
<PageTitle>Dynmap</PageTitle>
<h3>Dynmap</h3>



<div class=" fill-map">
    <div id="map">
        <iframe name="iframe1" id="iframe1" src="https://highgeek.eu/map/#survivalpriv_world:-60:0:21:1500:0:0:0:0:perspective" title="Dynmap">
        </iframe>
    </div>
</div>



@code {
    protected override void OnAfterRender(bool firstRender)
    {
        _js.InvokeVoidAsync("dynmapAppendCss");
    }
}
