@page "/Dynmap"

<PageTitle>Dynmap</PageTitle>
<h3>Dynmap</h3>



<div class=" fill-map">
    <div id="map">
        <iframe name="iframe1" id="iframe1" src="https://dynmap.highgeek.eu/#survivalpriv_world:-60:0:21:1500:0:0:0:0:perspective"  title="Dynmap">
        </iframe>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", myFunction();

    function myFunction() {
        var iframe = document.getElementById("iframe1");
        var elmnt = iframe.contentWindow.document.getElementsByClassName("control-bar")[0];
        elmnt.style.visibility = "hidden";
    }
</script>

@code {

}
