@page "/Admin/Manage/ActiveSessions"

@inherits LanguageBase

@using Highgeek.McWebApp.BlazorServer.Components.Pages.Admin.Pages.Users.Components
@inject IConnectedUsersService _globalUserService

<PageTitle>@(l["nav-admin"] + " / " + l["nav-admin-ActiveSessions"])</PageTitle>

<h3>@l["nav-admin-ActiveSessions"]</h3>
<MudPaper>
    @foreach (var service in _globalUserService.Users)
    {
        <p>@((service.ServiceId + " ") + (service.ApplicationUser is not null ? service.ApplicationUser.Email : l["offline"]))</p>
    }
</MudPaper>

<MudPaper>
    @foreach (var session in _globalUserService.GlobalSessions)
    {
        <p>@((session.Id + " ") + (session.Email != "" ? session.Email : l["offline"]) + " " + session.TenantID)</p>
    }
</MudPaper>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _globalUserService.SessionRemoved += RefreshList;
        _globalUserService.SessionAdded += RefreshList;
        _globalUserService.AdminViewRefreshRequested += RefreshAsync;
    }

    private async void RefreshList(object? sender, IUserService userService)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }


    public override void Dispose(bool disposing)
    {
        if (disposing)
        {
            _globalUserService.SessionRemoved -= RefreshList;
            _globalUserService.SessionAdded -= RefreshList;
            _globalUserService.AdminViewRefreshRequested -= RefreshAsync;
        }
    }
}
