@page "/Minecraft/Account/Inventory"

@inherits LanguageBase

@attribute [PermissionsAuthorize("connectedaccount")]


<PageTitle>@l["WebInventory"]</PageTitle>

<div style="margin-top:0.5rem" class="col-md-6">
<Highgeek.McWebApp.BlazorServer.Components.Inventory.InventoryTabs>

</Highgeek.McWebApp.BlazorServer.Components.Inventory.InventoryTabs>
</div>

@code {
}
