@page "/Minecraft/Account/Settings"

@inherits LanguageBase

@inject MinecraftUserManager _mcUserManager
@inject IUserService _userService
@inject ISnackbar _snack
@inject IRefreshService _refreshService
@inject NavigationManager _navManager
@inject IConnectedUsersService _connectedUsersService

@attribute [PermissionsAuthorize("connectedaccount")]


<PageTitle>@l["GameAccountSettings"]</PageTitle>

<h1>@l["GameAccountSettings"]</h1>

<button @onclick="DisconnectAccount" class="w-100 btn btn-lg btn-danger">@l["DisconnectMcAccount"]</button>

@code{

    private async Task DisconnectAccount(){
        StatusModel result = await _mcUserManager.DisconnectMinecraftAccount(_userService.ApplicationUser);
        await _userService.DisconnectGameAccount();
        _snack.Add(l[result.UserMessage], Severity.Success);
        _refreshService.CallServiceRefresh();
        if (result.Success)
        {
            _connectedUsersService.CallAdminViewRefresh();
            _navManager.NavigateTo("/");
        }
        else
        {
            
        }
    }

}