@inherits LanguageBase

@inject IPlanService _plan
@inject IUserService _userService

@if (loaded)
{
    @foreach (var i in PlanUser.PlanSessions)
    {
        <p>@DateTimeOffset.FromUnixTimeMilliseconds(i.SessionStart)</p>
    }
}

@code {
    [Parameter]
    public string? PlayerName { get; set; }

    bool loaded = false;

    public PlanUser? PlanUser { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Load();
    }

    private void Load()
    {
        if (PlayerName.IsNullOrEmpty())
        {
            PlayerName = _userService.ApplicationUser.mcUUID;
        }
        PlanUser = _plan.GetPlanPlayer(PlayerName);
        
        loaded = true;
        RefreshAsync();
    }
}
