@inherits LanguageBase

@inject IPlanService _plan
@inject IUserService _userService

<h3>@l["planstats"]</h3>

@if (loaded)
{
    @foreach (var i in PlanUser.PlanSessions)
    {
        <p>@DateTimeOffset.FromUnixTimeMilliseconds(i.SessionStart)</p>
    }
}

@code {
    bool loaded = false;

    public PlanUser? PlanUser { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Load();
    }

    private async void Load()
    {
        PlanUser = _plan.GetPlanPlayer(_userService.ApplicationUser.mcUUID);
        
        loaded = true;
        RefreshAsync();
    }
}
