@inject IServerListService _serverList

<h3>ServerList</h3>

<MudExpansionPanels MultiExpansion="true">
@foreach (var server in ServerListModels)
{
    <MudExpansionPanel Text="@(server.ServerName + " " + server.Status)">
        @foreach (var item in server.PlayerList)
        {
            <h6> item </h6>
        } 
    </MudExpansionPanel>
}
</MudExpansionPanels>

@code {
    private List<ServerListModel> ServerListModels = new List<ServerListModel>();

    protected override void OnInitialized()
    {
        ServerListModels = _serverList.GetServerList();
        _serverList.ServerListRefreshRequested += RefreshList;
    }

    private async void RefreshList()
    {
        await InvokeAsync(async () =>
        {
            ServerListModels = _serverList.GetServerList();
            StateHasChanged();
        });
    }
}
