@page "/Info/Servers"

@inherits LanguageBase

<PageTitle>@l["ServerStatus"]</PageTitle>

<h3>@l["ServerStatus"]</h3>

<ServerList/>

@code {



    public override void Dispose(bool disposing)
    {
        l.LocaleRefreshRequested -= RefreshLanguageAsync;
    }
}
