@inherits LayoutComponentBase
@layout Highgeek.McWebApp.BlazorServer.Components.Layout.MainLayout


<h1>Informations</h1>

<div>
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu/>
        </div>
        <div style="margin-top:0.5rem" class="col-md-6">
            @Body
        </div>
    </div>
</div>
