<div id="components-reconnect-modal">

    <div class="loader-container">

        <div>
            Connection lost <br />
            <span id="components-reconnect-current-attempt"></span> /
            <span id="components-reconnect-max-retries"></span>
        </div>

        <div class="fading-bars">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <div>
            <a href="@ReloadPage">Refresh page</a><br />
            <span><a href="#" id="close-reconnect-dialog">Hide this window</a></span>
        </div>

    </div>
</div>

<script>
    document
    .getElementById('close-reconnect-dialog')
    .addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('components-reconnect-modal').style.display = 'none';
    });
</script>

@code
{
    [Parameter] public string ReloadPage { get; set; }
}
